body{
	background-color: white;
}
table{
	margin: auto;
	border: 2px solid black;
}
td{
	text-align: center;
	font-size: 24pt;
	border: 2px solid black;
	padding: 8px;
}
td:hover{
	background-color: pink;
}