{% if latest_pizza_list %}
	<head>
	<script>
		function csinal(){
			var table = document.createElement('table');
			table.style.width = '100%';
			table.style.margin = 'auto';
			table.setAttribute('border', '1');

			var target = document.createElement("tr");
			target.id = "tr0";

			table.appendChild(target);

			var count = 0;
			var sorid = 0;
			var where;

			{% for pizza in latest_pizza_list %}

				count++;
				where = 0;
				if(count == 4){
					count = 0;
					sorid++;

					where = 1;
					target = document.createElement("tr");
					target.id = "tr" + sorid;
				}
					
				var newTd = document.createElement('td');
				var newWrapper = document.createElement('div');
				
				var newPara = document.createElement('p');
				newPara.innerHTML = "{{ pizza.nev }}";
				newWrapper.appendChild(newPara);
				newTd.appendChild(newWrapper);

				target.appendChild(newTd);

				if(where == 1)table.appendChild(target);

			{% endfor %}

			document.getElementById("alap").appendChild(table);
		}
	</script>
	</head>
	<body onload="csinal()">
		<div id="alap">
		
		</div>
	</body>
	
{% else %}
	<p>NINCS PIZZA</p>
{% endif %}
